* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.flex{
    display: flex;
    flex-direction: row;
}

.flexColumn {
    display: flex;
    flex-direction: column;
}

.flexWrap {
    flex-wrap: wrap;
}

.JustifyContentSB {
    justify-content: space-between;
}

.justifyContentFE{
    justify-content: flex-end;
}

.alignItemsC {
    align-items: center;
}

button {
    border-style: none;
    padding: 0.5em 1em;
    cursor: pointer;
}

.boxedLarge {
    width: 1000px;
    margin: 0 auto;
}

.boxedSmall {
    width: 800px;
    margin: 0 auto;
}

.border {
    border: 1px solid gray;
}

.borderBottom {
    border: 1px solid gray;
}

.textAlignCenter{
    text-align: center;
}

.width20 {
    width: 20%;
}

.width25 {
    width: calc(100% / 4);
}

.width40 {
    width: 40%;
}

.width30 {
    width: 30%;
    min-height: 750px;
}

.backgroundColorSkyBlue {
    background-color: #b4d0e7;
}

.paddingPlans {
    padding: 2rem 1rem;
}

.bold {
    font-weight: 700;
}