/********Header*********/
header {
    position: fixed;
    width: 100vw;
    background-color: white;
}

header > nav {
    height: 70px;
}

header > nav > div {
    width: 35%;
}

.boxHeader {
    margin: 0 5px;
}

.blueButton {
    background-color: #0061ff;
    color: white;
}

/**********Main**********/
#jumbotron {
    background-color: #b4d0e7;
}

h1 {
    font-size: 60px;
    font-weight: 900;
    padding-top: 170px;
    margin-bottom: 3rem;
}

.testoJumbotron {
    width: calc(100% / 3);
}

.testoJumbotron > button {
    margin: 2rem 0;
}

.testoJumbotron > i {
    font-size: 40px;
    margin-top: 3rem;
}

.fotoJumbotron {
    width: calc((100% / 3) * 2);
    height: 100px;
}

.fotoJumbotron > img {
    width: 100%;
}

#plans {
    margin-top: 8rem;
}

#plans > h3 {
    margin-bottom: 3rem;
}

#monthlyBilling {
    margin-right: 2rem;
}

.marginTopBottom {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.contactTeam {
    min-height: 170px;
    width: calc((100% / 3) * 2);
    background-color: orangered;
}

.contactTeamButton {
    min-height: 170px;
    width: calc(100% / 3);
    background-color: orange;
}

.partner {
    margin-top: 7rem;
    margin-bottom: 8rem
}
    

.fotoPartner {
    width: 60%;
    min-height: 400px;
    background-color: orangered;
}

.trovaPartner {
    width: 40%;
    min-height: 400px;
    background-color: orange;
}

.fotoOperazione {
    width: 100%;
    min-height: 160px;
    background-color: greenyellow;
}

.flexWrap ~ h3 {
    margin-top: 10rem;
    margin-bottom: 4rem;
}

.flexWrap ~ a {
    margin-bottom: 7rem;
}

#sponsor {
    width: 100vw;
    max-width: 100%;
}

.fotoSponsor {
    width: 30%;
    height: calc(100vw / 3);
    background-color: blueviolet;
}

.descrizioneSponsor {
    width: 40%;
    height: calc(100vw / 3);
    background-color: lightsalmon;
}

.foto1, .foto2, .foto3, .foto4 {
    height: 50%;
    width: 50%;
}

.foto1, .foto4 {
    background-color: red;
}

.provaGratuita {
    padding: 4rem 0;
}

#faq > h3 {
    margin-top: 7rem;
    margin-bottom: 4rem;
}

hr {
   margin: 2rem 0; 
}

/********Footer********/
footer {
    background-color: black;
    color: white;
    margin-top: 6rem;
}

footer h4 {
    padding-top: 5rem;
    margin-bottom: 2rem;
}

footer > .boxedLarge > .flex > .flexColumn > span {
    margin: 0.5rem 0;
}

#sceltaLingua {
    margin-top: 6rem;
    margin-bottom: 2rem;
    width: 10%;
}